<div style="padding: 35px;">
  <mat-card>"UnrealizedValueInitial": 9866.12,
    "UnrealizedValueCurr": 9866.12,</mat-card>
  <br><br>
  
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div>

            <div class="example-element-symbol"> {{element.company_name}} </div>
            <div class="example-element-name">AveragePrice: {{element.averagePrice}} </div>
            <div class="example-element-name">High: {{element.high}} </div>
            <div class="example-element-name">Low: {{element.low}} </div>
            <div class="example-element-name">Previous Close: {{element.previous_close}} </div>

          </div>

        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>