<br>
<div class="container mx-auto">

    <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name123" name="Username"
         #Username="ngModel" [(ngModel)]="regArray.Username" required
         [class.is-invalid]="Username.invalid && Username.touched">
         <small class="text-danger" [class.d-none]="Username.valid || Username.untouched">
             Name is required
         </small>
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control"  placeholder="Userpassword" name="Userpassword" 
        #Userpassword="ngModel" [(ngModel)]="regArray.Userpassword" required
        [class.is-invalid]="Userpassword.invalid && Userpassword.touched">
        <small class="text-danger" [class.d-none]="Userpassword.valid || Userpassword.untouched">
            password is required
        </small>
        <label for="floatingUserpassword">Password</label>
    </div>
    <br>
    <div class="form-floating">
        <input type="password" class="form-control"  placeholder="ConfPassword" name="ConfPassword" 
        #ConfPassword="ngModel" [(ngModel)]="regArray.ConfPassword" required
        [class.is-invalid]="ConfPassword.invalid && ConfPassword.touched">
        <small class="text-danger" [class.d-none]="ConfPassword.valid || ConfPassword.untouched">
            Password is required
        </small>
        <label for="floatingPassword">Confirm Password</label>
    </div>
    <br>
    
    <input type="submit" [disabled]="loginForm.form.invalid" class="btn btn-primary">
</form>
</div>
<br>
<h3 class="text-danger">{{(errMsg.error.usernameError)|json}}</h3>
<h3 class="text-danger">{{(errMsg.error.passwordError)|json}}</h3>