<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Top Gainers</th>
        <th scope="col">Top Losers</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of topGainer;let i=index">
        <th scope="row">{{i+1}}</th>
        <td (click)="onClick(x.company_name)">{{x.company_name}}</td>
        <td (click)="onClick(topLoser[i].company_name)">{{topLoser[i].company_name}}</td>
    
      </tr>

    </tbody>
  </table>