<div style="padding:35px;">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Stock</th>
        <th scope="col">Type</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tran of transactions">
        <th scope="row">{{tran.Timestamp| date:'medium'}}</th>
        <td>{{tran.Stock}}</td>
        <td>{{tran.Type}}</td>
        <td>{{tran.Quantity}}</td>
        <td>{{tran.Price}}</td>
      </tr>
    </tbody>
  </table>
</div>