<h2>sell {{stockid}}</h2>

<mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
<form #quantityForm="ngForm" (ngSubmit)="onSubmit()" novalidate >
    <div class="form-group">
    <label >Quantity</label>
    <input [(ngModel)]="quantity" oninput="validity.valid||(value='');" required type="number" #quant="ngModel" [class.is-invalid]="quant.invalid && quant.touched"  class="form-control" name="quan" ngModel min="1">
    <small class=text-danger [class.d-none]="quant.valid || quant.untouched">Quantity is required</small>
    {{quant.className}}
</div>
    <button [disabled]="quantityForm.form.invalid" class="btn btn-primary" type="submit" >SELL STOCK</button>
<p class=text-success *ngIf="respone" >{{respone.detail}}</p>
<p class=text-danger *ngIf="errormsg">{{errormsg.error.detail}}</p>
</form>