<div style="padding:25px;">
<table class="table table-striped">
    <thead>
        <tr>
          <th>Rank</th>
          <th scope="col">Username</th>
          <th scope="col">Current Value</th>
          <th scope="col">Initial Value</th>
          <th scope="col">Money in account</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let dataitems of LeaderList;let i=index;">
          <td>{{i}}</td>
          <td>{{dataitems.username}}</td>
          <td>{{dataitems.UnrealizedValueCurrent}}</td>
          <td>{{dataitems.UnrealizedValueInitial}}</td>
          <td>{{dataitems.RealizedValue}}</td>
        </tr>
      </tbody>
  </table>
</div>