<h2>{{StockDetails.company_name}}</h2>
<iframe [src]="urlSafe" frameBorder='0' scrolling='no' width='800' height='420'></iframe>
<br>
<button (click)="buystock()">BUY</button>
<button (click)="sellstock()">SELL</button>
<button (click)="addtoWishlist()">+</button>
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">HIGH {{StockDetails.high}}</li>
      <li class="list-group-item">LOW {{StockDetails.low}}</li>
      <li class="list-group-item">PREVIOUS CLOSE  {{StockDetails.previous_close}}</li>
      <li class="list-group-item">CHANGE {{StockDetails.change}}</li>
      <p class="text-success" *ngIf="watchListresponse " >{{watchListresponse.detail}}</p>
      <p class="text-danger"  *ngIf="watchListerror">{{watchListerror.error.detail}}</p>
    </ul>
    
  </div>

